html,body,.container{
	height: 100%;
	font-size: 100%;
	text-align: center;
}
body{
	background-image: url(background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.container,.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.wrapper{
	background-color: rgba(255,255,255, 0.3);
	border-radius: 5px;
	height: 75%;
	width: 100% !important;
}
textarea{
background-color: rgba(255,255,255, 0.8)!important;
	}
h6{
		text-align: center;
}
a{
color: #33b5e5;
}
a:hover, a:active{
color: #0099CC;
}
